.myCard {
  height: 400px !important;
  margin: 20px 0;
}

.img {
  object-fit: cover;
}

.troncare {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: black;
}
